<!DOCTYPE html>
<html>

<head>
    <title>Convertisseur . Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"
        integrity="sha256-8BrtNNtStED9syS9F+xXeP815KGv6ELiCfJFQmGi1Bg=" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/fromGift">
                GIFT vers AMC
            </a>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="/fromAMC">
                AMC vers GIFT
            </a>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                Accueil
            </a>
        </div>
    </nav>

    <div class="container">
        <div style="margin:200px 0 0 400px ;" class="button">
            <a href="/fromAMC"> Page AMC vers GIFT</a>
        </div>
        <div style="margin:200px 0 0 200px ;" class="button">
            <a href="/fromGift"> Page AMC vers GIFT</a>
        </div>
    </div>

</body>

</html>