<!DOCTYPE html>
<html>

<head>
    <title>Convertisseur AMC-TEXT vers GIFT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"
        integrity="sha256-8BrtNNtStED9syS9F+xXeP815KGv6ELiCfJFQmGi1Bg=" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/fromGift">
                GIFT vers AMC
            </a>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="/fromAMC">
                AMC vers GIFT
            </a>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                Accueil
            </a>
        </div>
    </nav>
    <form action="/convertGift" onsubmit="formSubmit();" method="POST" enctype="multipart/form-data">
        <h2>Traduction via texte brute</h2>
        <textarea class="textarea" type="text" id="area" class="textarea is-info" name="coreFile"
            placeholder="Copier-coller le contenu de votre fichier AMC-TXT"></textarea>
        <h2 style="margin-top:30px;">Traduction via fichier odt, doc</h2>
        <input  class="input" type="file" id="files" name="avatar" />
        <input style="margin-top:30px;" type="submit" class="button is-link" name="envoie" value="CONVERTIR" />
    </form>

</body>

<script>
    function formSubmit() {
        setTimeout(() => {
            document.getElementById('area').value = "";
        }, 1);
        return true;
    }
</script>

</html>